@{
    ViewBag.Title = "Index";
}



<div class="col-lg-3 col-lg-offset-4 hansels-shop-title">
    <h2>Hansel's Card Shop</h2>
    <p>Hansel was once the champion of souls.<br />Now he sell cards to feed himself and his wife.</p>
</div>

<div class="col-lg-4 col-lg-offset-0">
    <div class="hansel"></div>
</div>

<div>



    @foreach (ModelState modelState in ViewBag.ValidationLog.Values)
    {
        <div class="danger col-lg-12 error-messages" style="background-color: #f2dede;">
            <ul>
                @foreach (ModelError error in modelState.Errors)
                {
                    <div class="col-lg-offset-5 col-lg-4">
                        <li>
                            <b>
                                @error.ErrorMessage
                            </b>
                        </li>
                    </div>
                }
            </ul>
        </div>
    }


</div>



<div class="buy-confirm">

    <!-- Form which should be hidden-->
    <div style="display:none">
        <form id="submitcard" action="/Shop/Buy" method="post">
            <input type="text" id="card-id" name="cardid">
            <input type="submit" id="card-buy" />
        </form>
    </div>

    <div class="buy-confirm-card"></div>

    <div class="buy-confirm-text">
        <p id="buy-confirm-message"></p>
        <br />
    </div>
</div>
<br />



<table class="table">

    <tr>
        <td rowspan="5">
            @Html.Partial("~/Views/Shared/Partials/Player.cshtml")
        </td>
    </tr>


    @{int counter = 0;}
    @foreach (var card in ViewBag.cards)
    {

        if (counter == 0)
        {
            @Html.Raw("<tr>")
        }



        <td>
            <div class="card-container @((card.vendor_price == 1000000) ? "card-deactivated" : "card-active")" id="card_@card.id" style="background-image: url('@ViewBag.races[card.race.id]');">
                <div class="card-portrait card-noselect" style="background-image: url('/Content/Images/Card/Portraits/@(card.id).png');"></div>
                <div class="card-cost card-noselect">@card.cost</div>
                <div class="card-name card-noselect">@card.name</div>
                <div class="card-ability card-noselect">@card.ability.name</div>
                <div class="card-health card-noselect">@card.health</div>
                <div class="card-attack card-noselect">@card.attack</div>
                <div class="card-vendor-price card-noselect" style="display:none;">@card.vendor_price</div>
            </div>

        </td>

        if (counter % 5 == 4)
        {
            @Html.Raw("</tr>")
        }

        counter++;
    }




</table>





<script>

    $(document).ready(function () {

        setInterval(function () {
            $(".error-messages").fadeOut(5000);
        }, 2000);


        $(".card-active").on("click", function () {


            var card = $(this).clone();
            var cardId = card.attr("id").split("_")[1];
            $("#card-id").attr("value", cardId)

            card.removeAttr("id");
            card.addClass("buy-card-custom");

            var message = $("#buy-confirm-message");
            var templateMessage = "Are you sure you want to purchase this card for {0} soul coins?";
            message.html(templateMessage.replace("{0}", card.find(".card-vendor-price").html()));


            $(".buy-confirm-card").html(card);
            $(".buy-confirm").css("display", "hidden");

            $(".buy-confirm").fadeIn();


            $(".buy-confirm").dialog(
                {
                    title: "Purchase " + card.find(".card-name").html(),
                    modal: true,
                    open: function (event, ui) {
                        $(event.target).css("overflow", "hidden");
                    },
                    buttons: {
                        "Purchase": function () {
                            $("#card-buy").click();
                        },
                        Cancel: function () {
                            $(this).dialog("close");
                        }
                    }
                });


        });

    });


</script>
