@{
    ViewBag.Title = "Index";
}
@Html.Partial("~/Views/Shared/Partials/Player.cshtml");

<h2>Hansel's Card Shop</h2>

<div class="buy-confirm">

    <div class="buy-confirm-card"></div>

    <div class="buy-confirm-text">
        Are you sure you want to purchase this card?
        <br />
    </div>
</div>
<br />

<table class="table">

    @{int counter = 0;}
    @foreach (var card in ViewBag.cards)
    {

        if (counter == 0)
        {
            @Html.Raw("<tr>")
        }

        <td>
            <div class="card-container" id="card_@card.id" style="background-image: url('@ViewBag.races[card.race.id]');">
                <div class="card-portrait card-noselect" style="background-image: url('/Content/Images/Card/Portraits/@(card.id).png');"></div>
                <div class="card-cost card-noselect">@card.cost</div>
                <div class="card-name card-noselect">@card.name</div>
                <div class="card-ability card-noselect">@card.ability.name</div>
                <div class="card-health card-noselect">@card.health</div>
                <div class="card-attack card-noselect">@card.attack</div>
            </div>

        </td>

        if (counter % 5 == 4)
        {
            @Html.Raw("</tr>")
        }

        counter++;
    }




</table>


<script>

    $(document).ready(function () {



        $(".card-container").on("click", function () {

            var card = $(this).clone();
            //card.attr("id", card.attr("id").split("_")[1]);
            card.removeAttr("id");
            card.addClass("buy-card-custom");

            $(".buy-confirm-card").html(card);
            $(".buy-confirm").css("display", "hidden");

            $(".buy-confirm").fadeIn();


            $(".buy-confirm").dialog(
                {
                    title: "Purchase " + card.find(".card-name").html(),
                    modal: true,
                    open: function (event, ui) {
                        $(event.target).css("overflow", "hidden");
                    },
                    buttons: {
                        "Purchase": function () {
                            $(this).dialog("close");
                        },
                        Cancel: function () {
                            $(this).dialog("close");
                        }
                    }
                });


        });

    });


</script>
