@model Souls.Model.Card
@{
    ViewBag.Title = "CardEditor";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string portrait = "/Content/Images/Card/Portraits/0.png";
    if (ViewBag.portrait != null)
    {
        portrait = ViewBag.portrait;
    }




}



<div class="col-lg-4">
    <h2>Card Editor</h2>

    <div class="card-container" id="card_create" style="background-image: url('');">
        <div class="card-portrait card-noselect" style="background-image: url('@portrait');"></div>
        <div class="card-cost card-noselect">x</div>
        <div class="card-name card-noselect">x</div>
        <div class="card-ability card-noselect">x</div>
        <div class="card-health card-noselect">x</div>
        <div class="card-attack card-noselect">x</div>
        <div class="card-vendor-price card-noselect" style="display:none;">x</div>
    </div>

</div>

<div class="col-lg-8">
    <h2>Configuration</h2>

    @using (Html.BeginForm("CardEditor", "Admin"))
    {

        <!-- Uploaders -->
        <div class="col-lg-4">
            <div class="form-group">
                <label for="c_port">Card Portrait</label>
                <input type="file" id="c_port" name="c_port">
            </div>

            <div class="form-group">
                <label for="c_ability">Ability</label>
                <select name="c_ability" id="c_ability">
                    @foreach (var ability in ViewBag.abilities)
                    {
                        <option value="@ability.name">@ability.name</option>
                    }
                </select>

            </div>

            <div class="form-group">
                <label for="c_race">Race</label>
                <select name="c_race" id="c_race">
                    @foreach (var race in ViewBag.races)
                    {
                        <option value="@race.cardUrl">@race.name</option>
                    }
                </select>

            </div>



        </div>



        <!-- Input fields-->
        <div class="col-lg-3 col-lg-offset-1">
            <div class="form-group">
                <label for="c_cost">Cost</label>
                @Html.TextBoxFor(m => m.cost, new { id = "c_cost", name = "c_cost", type = "number" })
            </div>


            <div class="form-group">
                <label for="c_health">Health</label>
                @Html.TextBoxFor(m => m.health, new { id = "c_health", name = "c_health", type = "number" })
            </div>

            <div class="form-group">
                <label for="c_level">Level</label>
                @Html.TextBoxFor(m => m.level, new { id = "c_level", name = "c_level", type = "number" })
            </div>

            <div class="form-group">
                <label for="c_attack">Attack</label>
                @Html.TextBoxFor(m => m.attack, new { id = "c_attack", name = "c_attack", type = "number" })
            </div>

            <div class="form-group">
                <label for="c_vendor-price">Price</label>
                @Html.TextBoxFor(m => m.vendor_price, new { id = "c_vendor-price", name = "c_vendor-price", type = "number" })
            </div>

            <div class="form-group">
                <label for="port_url">Portrait URL</label>
                @Html.TextBoxFor(m => m.portrait, new { id = "port_url", name = "port_url" })
            </div>



        </div>


        <!-- Input fields-->
        <div class="col-lg-3 col-lg-offset-1">
            <div class="form-group">
                <label for="c_name">Name</label>
                @Html.TextBoxFor(m => m.name, new { id = "c_name", name = "c_name", type = "text" })
            </div>



            <button type="submit" class="btn btn-default">@ViewBag.action</button>
        </div>


    }
</div>

<div class="col-lg-12">
    <table class="table">

        <thead>
            <tr>
                <th>Name</th>
                <th>Cost</th>
                <th>Health</th>
                <th>Attack</th>
                <th>Price</th>
                <th>Level</th>
                <th>Ability</th>
                <th>Race</th>
            </tr>

        </thead>
        <tbody>

            @foreach (var card in ViewBag.cards)
            {
                <tr>
                    <td><a href="/Admin/CardEditor/@card.id">@card.name</a></td>
                    <td>@card.cost</td>
                    <td>@card.health</td>
                    <td>@card.attack</td>
                    <td>@card.vendor_price</td>
                    <td>@card.level</td>
                    <td>@card.ability.name</td>
                    <td>@card.race.name</td>
                </tr>
            }
            <tr>
                <td><b><a href="/Admin/CardEditor">[NEW]</a></b></td>
            </tr>


        </tbody>







    </table>



</div>


<script>

    $(document).ready(function () {

        var mappings =
            {
                //"#c_bg": $(".card-container"),
                //"#c_portrait": $(".card-portrait"),
                "#c_cost": $(".card-cost"),
                "#c_name": $(".card-name"),
                "#c_ability": $(".card-ability"),
                "#c_health": $(".card-health"),
                "#c_attack": $(".card-attack"),
                "#c_vendor-price": $(".card-vendor-price"),

                //c_level

            }


        $.each(mappings, function (key, value) {
            console.log(":D")

            $(key).on('change keyup', function () {
                var id = $(this).attr("id");
                var value = $(this).val();

                if (value == "") value = "x";
                mappings["#" + id].html(value);

            });

            $(key).trigger("change");
            $(key).trigger("keyup");

        });

        $("#c_race").change(function (e) {

            $(".card-container").css("background-image", "url(" + this.value + ")");
        });
        $("#c_race").trigger("change");


        $("#c_port").change(function (e) {
            var file = e.target.files;

            var data = new FormData();
            $.each(file, function (key, value) {
                data.append(key, value);
            });



            $.ajax({
                url: '/Admin/Upload',
                type: 'POST',
                data: data,
                cache: false,
                dataType: 'json',
                processData: false, // Don't process the files
                contentType: false, // Set content type to false as jQuery will tell the server its a query string request
                success: function (data, textStatus, jqXHR) {
                    if (data.data == "xx" || data.data == "x" || textStatus != "success") {
                        console.log("BREAK");
                        return;
                    } else {
                        var image = data.data;
                        $(".card-portrait").css("background-image", "url(" + image + ")");
                        $("#port_url").val(image);

                    }

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('ERRORS: ' + textStatus);
                    return;
                }
            });
        });






    });




</script>